
*{
    box-sizing: border-box;
    margin: 0%;
}
/* body{
    background-image: url(icons/back.avif);
    background-size: cover;
} */
.header{
background: #000;
color: #fff;
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
box-sizing: border-box;
}
.header>label{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-right: 20px;
}
.header>label>a{
    text-decoration: none;
    color: #fff;
    
}
.header>label>a:active{
    color: hotpink;
}
.admin>img{
    border-radius: 50%;
    border: 1px solid #ddd;
    max-width: 220px;
    max-height:220px;
}
.admin>img{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    width: 50%;
}
.admin>img:hover{
    padding: 5px;
    border: 2px solid #ddd;
    border-color: hotpink;
}
.brand{
    text-align: center;
}
.adimg>p>img{
    float: left;
}
.adimg>p{
    text-align: center;
}
ul>li{
    list-style: none;
    
}
ul>li>img{
    /* float: left; */
    margin-right: 10px;
    
}
ul>li>a{
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    margin-left: 0px;
}
